header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header h1 {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;

}


header ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    
}

header ul li {
    margin: 5px;
    font-size: 20px;
    color: rgba(153, 153, 153, 0.968);
}

header ul li:hover {
    color: black
}

header a{
    text-decoration: none;
    color: black;
}