header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header h1 {
    padding-top: 30px;
    text-align: center;
    
}

header h5 {
    text-align: center;
    padding-bottom: 30px;
    color: rgba(0, 0, 0, 0.316);
}


header ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    
}

header ul li {
    margin: 5px;
    font-size: 20px;
    color: rgba(153, 153, 153, 0.968);
}

header ul li:hover {
    color: black;
    cursor: pointer;
}

header a{
    text-decoration: none;
    color: black;
}

.subMenu {
    position: fixed;
    display: flex;
    flex-direction: column;
    text-align: letf;
    height: auto;
    width: 200px;
    background-color: rgba(255, 255, 255, 0.816);
    border-radius: 10px;
    z-index: 1000;
}
.subMenu li {
    font-size: 17px;
}