@import url('https://fonts.cdnfonts.com/css/futura-pt');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Futura PT', sans-serif;
}


.App{
  width: 100%;
  height: 100%;
}



